.MuiImageList-root{
    margin: 0 auto;
    margin-top: 3vh;
    height: auto;
}

.css-pxxd1-MuiImageListItem-root:hover{
    cursor: pointer;
    opacity: 0.8;
}
.css-pxxd1-MuiImageListItem-root:onkeydown{
    cursor: grab;
    opacity: 0.8;
}

.MuiImageListItem-root{
    border: 1px solid black;
}