*{
  margin: 0;
  padding: 0;
}

.App-header{
  margin-top: 2vh;  
  margin-bottom: 5vh;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.noList-text{
  font-size: 1.5em;
  margin-top: 15vh;
  text-align: center;
}

.noList-buttons{
  margin-top: 6vh;
  margin: 6vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.noList-buttons::before{
  content: "";
  width: 10vw;
}

.noList-buttons::after{
  content: "";
  width: 10vw;
}

.deleteDrop{
  padding: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 65vw;
  background-color: #B2EBF2;
  border: 3px dashed #26C6DA;
}

.redBin{
  width: 64px;
}

.deleteText{
  font-size: 1.2em;
}

.table-root{  
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}


.table-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-control::before{
  content: "";
  width: 55vw;
}